<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PointFromSubScene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D60F23531D40238D00F72621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D60F236B1D40238D00F72621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D60F23761D40238D00F72621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
